In [2]:
import pandas as pd
import numpy as np

# Load Data

In [5]:
df = pd.read_csv('/content/Lending-company (1).csv')
df.head()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

# Drop LoanID and SringsID

In [6]:
df.drop(['LoanID','StringID'],axis=1,inplace=True)

# Map the Product categories to numeric data

In [7]:
df['Product']=df['Product'].map({'Personal Loan':1,'Mortgage Loan':2,'Student Loan':3})

# Replace Not Specified in the CustomerGender

In [8]:
mode_gender = df  ['CustomerGender'].mode()[0]
df['CustomerGender'].replace('Not Specified',mode_gender)

0             Female
1             Female
2               Male
3               Male
4             Female
            ...
1038            Male
1039            Male
1040    NotSpecified
1041          Female
1042    NotSpecified
Name: CustomerGender, Length: 1043, dtype: object

In [10]:
df['Location']=df['Location'].map({1:'Rural',2:'Suburban',3:'Urban'})

# Fill Missing Values

In [11]:
df['TotalPrice'].fillna(df['TotalPrice'].mean(),inplace=True)

<ipython-input-11-88312896dcd1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalPrice'].fillna(df['TotalPrice'].mean(),inplace=True)

# drop all rows with missing StartDate

In [13]:
df.dropna(subset=['StartDate'],inplace=True)

# Extract the month and weekday from StartDate create columns

In [17]:
df['StartDate'] = pd.to_datetime(df['StartDate'], format='%d/%m/%Y') # Specify the correct format for day/month/year
df['Month'] = df['StartDate'].dt.month
df['Weekday'] = df['StartDate'].dt.day_name()

# Drop the StartDate

In [18]:
df.drop ('StartDate',axis=1,inplace=True)

#Examine the totalDaysYr

In [20]:
print(df['TotalDaysYr'].describe())

count    1042.0
mean      365.0
std         0.0
min       365.0
25%       365.0
50%       365.0
75%       365.0
max       365.0
Name: TotalDaysYr, dtype: float64

# Drop all rows with missing LoanStatus values

In [21]:
df.dropna (subset=['LoanStatus'],inplace=True)
df = df[df['LoanStatus'] != 'Blocked']

# Map Active to 0 and Finished Payment to 1 in LoanStatus

In [22]:
df['LoanStatus'] = df['LoanStatus'].map({'Active':0,'Finished Payment':1})

<ipython-input-22-b74affd5ed89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LoanStatus'] = df['LoanStatus'].map({'Active':0,'Finished Payment':1})

save the cleaned data

In [23]:
df.to_csv('cleaned_data.csv',index=False)